.align-cont-center {
    align-content: center;
}
.align-cont-flex-end {
    align-content: flex-end;
}
.align-cont-flex-start {
    align-content: flex-start;
}
.align-con-space-around {
    align-content: space-around;
}
.align-cont-space-between {
    align-content: space-between;
}
.align-cont-stretch {
    align-content: stretch;
}
.align-cont-inherit {
    align-content: inherit;
}
.align-cont-initial {
    align-content: initial;
}
.align-cont-unset {
    align-content: unset;
}
