.align-cont-center {
    align-content: center !important;
}
.align-cont-flex-end {
    align-content: flex-end !important;
}
.align-cont-flex-start {
    align-content: flex-start !important;
}
.align-con-space-around {
    align-content: space-around !important;
}
.align-cont-space-between {
    align-content: space-between !important;
}
.align-cont-stretch {
    align-content: stretch !important;
}
.align-cont-inherit {
    align-content: inherit !important;
}
.align-cont-initial {
    align-content: initial !important;
}
.align-cont-unset {
    align-content: unset !important;
}
