.d-block {
    display: block;
}
.d-contents {
    display: contents;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-inline {
    display: inline;
}
.d-inherit {
    display: inherit;
}
.d-inline-block {
    display: inline-block;
}
.d-inline-flex {
    display: inline-flex;
}
.d-inline-tab {
    display: inline-table;
}
.d-list-item {
    display: list-item;
}
.d-none {
    display: none;
}
.d-tab {
    display: table;
}
.d-tab-caption {
    display: table-caption;
}
.d-tab-cell {
    display: table-cell;
}
.d-tab-col {
    display: table-column;
}
.d-tab-col-group {
    display: table-column-group;
}
.d-tab-header-group {
    display: table-header-group;
}
.d-tab-footer-group {
    display: table-footer-group;
}
.d-tab-row {
    display: table-row;
}
.d-tab-row-group {
    display: table-row-group;
}
.d-webkit-box {
    display: -webkit-box;
}
.d-webkit-flex {
    display: -webkit-flex;
}
.d-webkit-inline-box {
    display: -webkit-inline-box;
}
.d-webkit-inline-flex {
    display: -webkit-inline-flex;
}
