@mixin button(
    $display: unquote(''),
    $justify-content: unquote(''),
    $position: relative,
    $overflow: hidden,
    $background: transparent,
    $color: colorContrast($background),
    $font-size: $font-size,
    $font-weight: $font-weight-medium,
    $font-family: $font-family,
    $letter-spacing: $letter-spacing,
    $text-align: unquote(''),
    $text-decoration: none,
    $outline: none,
    $border: none,
    $border-radius: $border-radius,
    $padding: $button-padding,
    $box-shadow: unquote(''),
    $align-items: unquote(''),
    $width: unquote(''),
    $height: unquote('')
) {
    display: $display;
    justify-content: $justify-content;
    position: $position;
    overflow: $overflow;
    color: $color;
    background: $background;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    text-align: $text-align;
    outline: $outline;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    box-shadow: $box-shadow;
    align-items: $align-items;
    width: $width;
    height: $height;
    text-decoration: $text-decoration;
    &:hover {
        box-shadow: $shadow-hover;
    }
    &:active {
        box-shadow: $shadow-active;
    }
    &:focus {
        box-shadow: $shadow-focus;
    }
    &:disabled {
        @include smartColor($gray400);
    }
}
