@import 'src/scss/utilities/colors';

$letter-spacing: 0.1rem;

$font-size: 1rem;
$font-weight: 500;
$font-weight-medium: 600 !default;
$font-weight-semibold: 700 !default;
$font-weight-bold: 800 !default;
$font-family: 'Roboto', sans-serif;

$title-font-size: 1rem;
$title-font-weight: $font-weight-medium;

$sub-font-size: 0.8rem;

$border-color: $blue;
$border-radius: 0.3rem;
$border: 0.12rem;

$button-padding: 0.6rem 1.4rem;

$shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
$shadow-hover: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
$shadow-focus: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
$shadow-active: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0,0,0,.12);