@import '../../css/flash.css';
body {
    margin: 0;
}
.app {
    display: flex;
}
.content {
    display: flex;
    flex: 0.80;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.20;
    background-color: #eeeeee;
}
.button {
    border-radius: 0;
    box-shadow: none;
    background-color: #dddddd;
    color: black;
}
.button:enabled:hover {
    background-color: #eeeeee;
    color: black;
}
