@import '../../css/flash.css';
body {
    margin: 0;
}
.app {
    display: flex;
}
.content {
    display: flex;
    flex: 0.8;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    background-color: #eeeeee;
}
.button {
    border-radius: 0;
    box-shadow: none;
}
