@mixin repple-effect($color: white) {
    &::before {
        content: '';
        position: absolute;
        padding: 50%;
        border-radius: 50%;
        background-color: colorContrast($color);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        transition: transform 0.75s, opacity 0.75s;
    }
    &:active::before {
        transition: 0s;
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(0);
    }
}
