.icon-button {
    @include button(
        $background: $primary,
        $width: 3.5rem,
        $height: 3.5rem,
        $border-radius: 100%,
        $display: inline-flex,
        $justify-content: center,
        $align-items: center
    );

    &:enabled {
        &:hover {
            @include smartColor($primary-light);
            @include reppleEffect($primary-light);
        }
    }
}
